.header{
    display: flex;
    background-color: #1F2937;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-around;
    margin: -10px;
    padding: 10px;
}

.header-logo {
    color: #F9FaF8;
    font-size: 24px;
}

.header-right {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-main{
    display: flex;
    padding: 64px;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-family: sans-serif;
    margin-right: -10px;
    margin-left: -10px;
}

.header-main-container{
    margin: 0px;
    padding: 0px;
}

.header-main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

.header-main-sub{
    font-size: 18px;
    color: #E5E7EB;
    max-width: 600px;
}

.header-main-img{
    text-align: center;
    width: 200px;
    height: 100px;
}

.signup{
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
}

.body1-title{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.body1-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 64px;
}

.infotext{
    max-width: 100px;
    text-align: center;
}

.body1-info1{
    border: 2px solid royalblue;
    border-radius: 25px;
    padding: 20px;
}

.body2{
    background-color: #E5E7EB;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
}

.body2-quote{
    font-size: 36px;
    color: #1F2937;
    max-width: 600px;
    padding-top: 64px;
    display: flex;
    align-self: center;
}

.body2-author{
    background-color: #E5E7EB;
    display: flex;
    font-weight: bold;
    flex-direction: row-reverse;
    max-width: 1000px;
    padding-bottom: 64px;
    padding-top: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.callcontainer{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 64px;
}

.callbutton{
    background-color: #3882F6;
    width: 1200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.calltexttitle{
    color: #F9FaF8;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
}

.calltextsub{
    color: #F9FaF8;
    font-size: 16px;
    font-family: sans-serif;
}

.callsignup{
    color: #F9FaF8;
    background-color: #3882F6;
    border-color: #F9FaF8;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    
}

.footer{
    background-color: #1F2937;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -40px;
    color: #F9FaF8;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
